<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="head">
<title>회원가입</title>
<link th:href="@{/css/signup.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</th:block>
<body>
<script>
  $(document).ready(function() {
    $(".existchk").click(function() {
      var id = $("#idval").val();
      $.ajax({
        type: "POST",
        url: "existid",
        data: {userid: id},
        success: function(result) {
        	if (result.trim() === "false") {
        	      alert("사용 가능한 아이디입니다.");
        	      document.getElementById("existsResult").value = "false";
        	    }
        	     else {
        	      alert("사용 불가능한 아이디입니다.");
        	      document.getElementById("existsResult").value = "true";
        	    }
        },
        error: function() {

        }
      });
    });
  });
</script>
<script th:src="@{/js/input_info.js}" src="/js/input_info.js"></script>

<th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
<input type="hidden" id="existsResult" th:value="d">
<div class="main">
    <div class="wrap">
        <div class="sign_box">
            <div class="title">
                <h1>회원가입</h1>
            </div>
            <div class="content">
                <button class="existchk">아이디 중복체크</button>
                <form action="signup" method="post"  onsubmit="return chkall()"
                >
                    <label>아이디</label> <input type="text" name="userId" id="idval"
                >
                    <div id="id_inner" class="warn"></div> <label>비밀번호</label> <input
                        type="password" name="userPw" id="pwval" >
                    <div id="pw_inner" class="warn"></div> <label>비밀번호 확인</label> <input
                        type="password" name="passwordChk" id="chkpwval">
                    <div id="chk_inner" class="warn"></div> <label>이름</label> <input
                        type="text" name="userName" id="nameval" >
                    <div id="name_inner" class="warn"></div> <label>나이</label><br>
                    <input type="text" placeholder="나이입력"
                           name="userAge" id="ageval"
                           maxlength="2">
                    <div id="age_inner" class="warn"></div> <label>성별</label>
                    <select
                        name="userGender" id="genval">
                    <option selected disabled value="0">성별선택</option>
                    <option value="male">남</option>
                    <option value="female">여</option>
                </select>
                    <div id="gen_inner" class="warn"></div>
                    <button type="submit" id="btn_">가입하기</button>
                </form>

            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/chk.js}"></script>
</body>
</html>